.square{
  position: relative;
  width: 60px;
  height: 60px;
  display: grid;
  place-content: center;
  cursor: pointer;
  font-size: 48px;
}

.square::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #48e;
  -webkit-mask-image: radial-gradient(circle, transparent 50%, black 50%);
  mask-image: radial-gradient(circle, transparent 50%, black 50%);
  z-index: 2;
}

.is--selected{
  color: #fff;
  background: #09f;
}
